body {
  background-color: rgb(248, 221, 186);
}

header {
  background-image: linear-gradient(rgb(247, 175, 175), rgb(124, 122, 122));
}

/* nav bar propeties logo and header name */
header div {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  color: tomato;
  cursor: pointer;
  font-weight: bold;
}
/* anchor tag properties */
a {
  text-decoration: none;
  color: tomato;
}

img {
  width: 65px;
  height: 65px;
}

#food {
  font-size: x-large;
  font-family: italic;
  border-radius: 50%;
  background-color: blanchedalmond;
  padding-top: 20px;
}

/* style external meal list(api meal list) */

#meal-img-container {
  width: 25%;
}
#meal-detail-container {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#headings {
  width: 50%;
}
.detail-class {
  margin-bottom: 30px;
}
#ins {
  margin-top: -320px;
  width: 40%;
}
p {
  color: royalblue;
}

/* set external image size */

#main-image img {
  margin-top: 30px;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

h2 {
  display: inline;
}

h3 {
  display: inline;
  color: royalblue;
}

/* Responsive design */
@media screen and (max-width: 1000px) {
  #headings {
    width: 100%;
    margin-bottom: 20px;
  }
  #meal-img-container {
    width: 40%;
  }
  #meal-detail-container {
    width: 35%;
  }
  #ins {
    width: 100%;
  }
  #container {
    width: 90%;
  }
}
/* Responsive design */
@media screen and (max-width: 700px) {
  header div {
    width: 100%;
  }
  #meal-img-container {
    width: 70%;
  }
  #meal-detail-container {
    width: 70%;
    margin-top: 55px;
  }
}

@media screen and (max-width: 400px) {
  header div {
    display: block;
    width: 70%;
    margin-left: auto;
    height: 130px;
  }
  #container {
    margin: 0px;
    margin-top: 50px;
    width: 100%;
  }
  #main-image {
    margin: 30px;
  }
  #meal-detail-container {
    width: 90%;
  }
}
